.box-xl {
    margin-block: var(--space-lg-plus) var(--space-xl-tight);
}

.box-lg {
    max-width: var(--card-max-s);
    padding: var(--space-lg);
    box-shadow: var(--shadow-blue-soft);
    border-radius: var(--radius-s);
}

.box-s {
    max-width: var(--card-max-s);
}


@media (min-width: 48rem){
    .box-xl {
        margin-block: var(--space-3xl-tight) var(--space-4xl);
    }

    .box-s {
        max-width: var(--card-max-l);
    }
}

@media (min-width: 64rem) {
    .box-xl {
        margin-block: var(--space-4xl-plus) var(--space-6xl);
    }

    .box-lg {
        max-width: var(--card-max-m);
    }
}