.cards-grid {
    display: grid;
    gap: var(--space-lg);
}

.cards-grid > * {
    height: 100%;
}

@media (min-width: 48rem) {
    .cards-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            ". b b ."
            "a a c c"
            ". d d .";
        
    }

    .cards-grid > :nth-child(1) { grid-area: a }
    .cards-grid > :nth-child(2) { grid-area: b }
    .cards-grid > :nth-child(3) { grid-area: c }
    .cards-grid > :nth-child(4) { grid-area: d }
}

@media (min-width: 64rem) {
    .cards-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            ". b ."
            "a b d"
            "a c d"
            ". c .";
    }
}