.stack-xl > * + * {
    margin-block-start: var(--space-xl);
}

.stack-lg > * + * {
    margin-block-start: var(--space-lg);
}

.stack-sm > * + * {
    margin-block-start: var(--space-sm);
}

.stack-xs > * + * {
    margin-block-start: var(--space-xs);
}

@media (min-width: 30rem){
    .stack-xl > * + * {
        margin-block-start: var(--space-3xl);
    }
}
